<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
    </head>
    <body>
      <div class="container">
        <header>
          <h2>CCTV맨</h2>
          <nav>
            <ul>
              <li><a href="/">홈으로</a></li>
              <li><a href="/">부산 CCTV 보기</a></li>
              <li><a href="">학교 주위의 CCTV보기</a></li>
              <li><a href="">삼천포 CCTV 보기</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </body>
</html>
