<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Myself</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>CCTV맨</h2>
        <nav>
          <ul>
            <li><a href="/">홈으로 </a></li>
            <li><a href="/cctv">부산 CCTV 보기</a></li>
            <li><a href="/school">학교 주위의 CCTV보기(동래구)</a></li>
            <li><a href="/samchunpo">삼천포 CCTV 보기</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div>
      <a href="https://www.kyongbuk.co.kr/news/articleView.html?idxno=646005"
        ><img src="/images/cctv.png" alt="CCTV" style="width: 100%"
      /></a>
    </div>
    <h1 style="text-align: center">CCTV 보기</h1>
    <div style="text-align: center">
      <a href="/cctv"
        ><img src="/images/busan.png" alt="busan" style="width: 400px" /> &nbsp;
        &nbsp;</a
      >
      <a href="/school"
        ><img src="/images/school.png" alt="school" style="width: 400px"
      /></a>
      <a href="/samchunpo"
        ><img src="/images/sam.png" alt="sam" style="width: 400px"
      /></a>
    </div>
  </body>
</html>
