<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Myself</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>CCTV맨</h2>
        <nav>
          <ul>
            <li><a href="/">홈으로</a></li>
            <li><a href="/cctv">부산 CCTV 보기</a></li>
            <li><a href="/school">학교 주위의 CCTV보기</a></li>
            <li><a href="/samchunpo">삼천포 CCTV 보기</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <h1>CCTV로 안전하게 생활하기</h1>
    <div>
      <img src="/images/cctv.jpg" alt="CCTV" style="width: 400px" />
      <img
        src="https://scontent.cdninstagram.com/v/t1.15752-9/313804041_814843292931140_3989188223766982443_n.jpg?stp=dst-jpg_p600x600&_nc_cat=104&ccb=1-7&_nc_sid=5a057b&_nc_ohc=vhjDRUKT9m4AX-ZnMNl&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.cdninstagram.com&oh=03_AdTkD3HPury_30485Jz9YqA5D2gu2lm4qGAwcJ1ymbNJmw&oe=63ABC31A"
        alt=""
        style="width: 450px"
      />
      <img
        src="https://scontent.cdninstagram.com/v/t1.15752-9/314645100_669363537911836_8642327117192177004_n.jpg?stp=dst-jpg_s480x480&_nc_cat=102&ccb=1-7&_nc_sid=5a057b&_nc_ohc=KBBWnMc3-7EAX_vTRLE&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.cdninstagram.com&oh=03_AdRzSj9X9wuvGdf-JpjD3Vq1JyEXUlfwLz0hJQNeRe8Egg&oe=63ABB1AF"
        alt=""
        style="width: 335px"
      />
    </div>
  </body>
</html>
