<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>School</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h2>CCTV맨</h2>
        <nav>
          <ul>
            <li><a href="/">홈으로</a></li>
            <li><a href="/cctv">부산 CCTV 보기</a></li>
            <li><a href="/school">학교 주위의 CCTV보기</a></li>
            <li><a href="/samchunpo">삼천포 CCTV 보기</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <h1>학교 주위의 CCTV보기</h1>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fdadc7ae7f717f0f74286d7b010b44ee"
    ></script>
    <div
      id="map3"
      style="width: 80%; height: 550px; margin-left: auto; margin-right: auto"
    ></div>
    <script>
      let list = "<%= JSON.stringify(list)%>";
      list = list.replaceAll("&#34;", '"');
      list = JSON.parse(list);
      var mapContainer3 = document.getElementById("map3"),
        mapOption3 = {
          center: new kakao.maps.LatLng(35.20593423088233, 129.07847096658566), // 중심좌표(부산소마고)
          level: 5, // 지도의 확대 레벨
        };

      var map3 = new kakao.maps.Map(mapContainer3, mapOption3); // 지도를 생성합니다

      // 마커가 표시될 위치입니다
      var position = [];
      for (let i = 0; i < list.length; i++) {
        // list에서 좌표 불러서 position에 넣음
        position.push(new kakao.maps.LatLng(list[i][2], list[i][3]));
      }
      for (var i = 0; i < position.length; i++) {
        var marker = new kakao.maps.Marker({
          map: map3,
          position: position[i],
        });
      }
    </script>
  </body>
</html>
