<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>School</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h2>CCTV맨</h2>
        <nav>
          <ul>
            <li><a href="/">홈으로</a></li>
            &nbsp; &nbsp;
            <li><a href="/cctv">부산 CCTV 보기</a></li>
            &nbsp; &nbsp;
            <li><a href="/school">학교 주위의 CCTV보기(동래구)</a></li>
            &nbsp; &nbsp;
            <li><a href="/samchunpo">삼천포 CCTV 보기</a></li>
            &nbsp; &nbsp;
          </ul>
        </nav>
      </header>
    </div>
    <h1>학교 주위의 CCTV보기</h1>
    <br />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= api%>"
    ></script>
    <div
      id="map3"
      style="width: 80%; height: 550px; margin-left: auto; margin-right: auto"
    ></div>
    <script>
      var mapContainer3 = document.getElementById("map3"),
        mapOption3 = {
          center: new kakao.maps.LatLng(35.20593423088233, 129.07847096658566),
          level: 5, // 지도의 확대 레벨
        };

      var map3 = new kakao.maps.Map(mapContainer3, mapOption3); // 지도를 생성합니다
      function Go() {
        var moveLatLon = new kakao.maps.LatLng(
          35.18914053249148,
          128.9034392317726
        );
        map3.setCenter(moveLatLon);
      }
      function origin() {
        var moveLatLon = new kakao.maps.LatLng(
          35.20593423088233,
          129.07847096658566
        );
        map3.setCenter(moveLatLon);
      }
      function makeOverListener(map, marker, infowindow) {
        return function () {
          infowindow.open(map, marker);
        };
      }

      function makeOutListener(infowindow) {
        return function () {
          infowindow.close();
        };
      }
      let list = "<%= JSON.stringify(list)%>";
      list = list.replaceAll("&#34;", '"');
      list = JSON.parse(list);

      // 마커가 표시될 위치입니다
      var position = [];
      for (let i = 0; i < list.length; i++) {
        // list에서 좌표 불러서 position에 넣음
        let l = {
          content: '<div style="width:100px;">' + list[i][4] + "</div>",
          latlng: new kakao.maps.LatLng(list[i][2], list[i][3]),
        };
        position.push(l);
      }
      let l = {
        content:
          '<div style="width:100px;">' + "대 BSSM(부산소마고)" + "</div>",
        latlng: new kakao.maps.LatLng(35.18914053249148, 128.9034392317726),
      };
      position.push(l);
      for (var i = 0; i < position.length; i++) {
        var marker = new kakao.maps.Marker({
          map: map3,
          position: position[i].latlng,
        });

        let infowindow = new kakao.maps.InfoWindow({
          content: position[i].content,
        });

        kakao.maps.event.addListener(
          marker,
          "mouseover",
          makeOverListener(map3, marker, infowindow)
        );
        kakao.maps.event.addListener(
          marker,
          "mouseout",
          makeOutListener(infowindow)
        );
      }
    </script>
    <div style="text-align: center; margin-top: 100px">
      <input
        type="submit"
        value="니네 학교로 가기"
        onclick="Go()"
        style="
          width: 154px;
          height: 51px;
          background: #ffffff;
          border-radius: 18px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 900;
          font-size: 15px;
          padding: auto;
        "
      />
      <input
        type="submit"
        value="돌아가기"
        onclick="origin()"
        style="
          width: 154px;
          height: 51px;
          border: none;
          background: #000000;
          border-radius: 18px;
          color: white;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 900;
          font-size: 15px;
          padding: auto;
        "
      />
    </div>
  </body>
</html>
